{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的网站|注册
{% endblock %}

{% block nav_myinfo_active %}active{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-xs-12 col-md-4">
      <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">个人信息</h3>
      </div>
      <div class="panel-body">
        <ul>
            <li style="margin-bottom: 30px; font-size: large;">用户名：{{ user.username }}</li>
            <li style="margin-bottom: 30px; font-size: large;">
                权限：
                {% if user.is_superuser %}
                    管理员
                {% else %}
                    读者
                {% endif %}
            </li>
            <li style="margin-bottom: 30px; font-size: large;">姓名：{{ userprofile.user_name }}</li>
            <li style="margin-bottom: 30px; font-size: large;">学号：{{ userprofile.stu_id }}</li>
            <li style="margin-bottom: 30px; font-size: large;">院系：{{ userprofile.major }}</li>
        </ul>
          <a href="{% url 'logout' %}">退出登陆</a>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-4"></div>
</div>

{% endblock %}